 <div class="bg-white dark:bg-gray-900 min-h-screen px-6 py-16 ">
    <div class="max-w-screen-lg mx-auto">
      <h1 class="text-xs font-bold text-gray-900 dark:text-white text-center mb-8">
        About Me
      </h1>
      <h1 class="text-6xl font-bold text-gray-900 dark:text-white text-center mb-8">
        About Me
      </h1>
      <div class="flex flex-col md:flex-row items-center md:items-start space-y-8 md:space-y-0 md:space-x-10">
        <!-- Image section -->
        <div class="flex-shrink-0">
          <img
            src="/assets/1.jpg"
            alt="Profile Picture"
            class="w-72 h-72 md:w-96 md:h-96 rounded-full shadow-md object-cover mx-auto md:mx-0"
          />
        </div>
        <!-- Text section -->
        <div class="text-center md:text-left">
          <p class="text-lg text-gray-700 dark:text-gray-300 mb-4">
            Hi, I’m <span class="text-purple-500 hover:text-purple-200 font-semibold">
            <b>Mohamed Dhia Bargui</b></span>, a third-year computer science student specializing in software engineering. I am passionate about developing modern and responsive web applications.
          </p>
          <p class="text-lg text-gray-700 dark:text-gray-300 mb-4">
            I enjoy learning new technologies, solving challenging problems, and continuously improving my skills. My current focus is on building scalable web platforms and mastering full-stack development.
          </p>
          <p class="text-lg text-gray-700 dark:text-gray-300">
            When I’m not coding, I enjoy reading stories, playing football, and designing logos and photos. Let's connect and create something amazing together!
          </p>
        </div>
      </div>
    </div>
  </div>
  