<div class="bg-white dark:bg-gray-900 min-h-screen px-6 py-16 mt-24">
  <div class="max-w-screen-lg mx-auto">
    <h2 class="text-6xl font-bold text-gray-900 dark:text-white mb-4">Contact</h2>
    <p class="text-lg text-gray-700 dark:text-gray-300">
      Feel free to reach out for collaboration or inquiries:
    </p>
    <ul class="text-gray-700 dark:text-gray-300">
      <li>Email: <a href="mailto:mohamed.dhia.bargui@example.com" class="text-blue-600 dark:text-blue-400">mohameddhiabargui1&commat;gmail.com</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/mohamed-dhia-bargui" class="text-blue-600 dark:text-blue-400">linkedin.com/in/mohamed-dhia-bargui</a></li>
      <li>GitHub: <a href="https://github.com/mohamed-dhia-bargui" class="text-blue-600 dark:text-blue-400">github.com/mohamed-dhia-bargui</a></li>
    </ul>
  </div>
