<div class="min-h-screen bg-white flex items-center justify-center relative">
  <!-- Background Effect -->
  <div class="absolute inset-0 pointer-events-none">
    <canvas id="background"></canvas>
  </div>

  <div class="z-10 text-center">
    <!-- Name -->
    <h1 class="text-4xl md:text-6xl font-bold text-black">
      I'm Mohamed Dhia Bargui <span class="text-purple-700 hover:text-purple-400"> < MDB > </span>
    </h1>

    <!-- Subtitle -->
    <h2 class="text-xl md:text-2xl text-blue-500 mt-4">
      Software Engineer & Web Developer studient
    </h2>

    <!-- Description -->
    <p class="mt-4 text-gray-600 max-w-lg mx-auto">
      Passionate about creating modern and innovative web applications.
      Currently <span class="font-bold">open to work</span>.
    </p>

    <!-- Contact Button -->
    <div class="mt-6">
      <a
        routerLink="/contact"
        class="px-6 py-3 bg-purple-700 text-white rounded-lg shadow-md hover:bg-blue-600"
      >
        Get in touch!
      </a>
    </div>

    <!-- Social Links -->
    <div class="flex items-center justify-center gap-4 mt-8">
      <a href="https://www.linkedin.com/in/mohamed-dhia-bargui-266bb8246/" target="_blank">
        <img
          src="assets/linkedin.png"
          alt="LinkedIn"
          class="w-8 h-8"
        />
      </a>
      <a href="https://github.com/Bargui2003" target="_blank">
        <img
          src="assets/github.png"
          alt="GitHub"
          class="w-8 h-8"
        />
      </a>
    </div>
  </div>

